<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
    <meta charset="utf-8" />
     <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <nav><a href="/">Login</a> | <a href="/users">Users</a> | <a href="/register">Add user</a></nav>
    <h1>Users</h1>
        
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th></th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.age}}</td>
            <td>
                <a class="link-button" href="/users/{{this.id}}">Edit</a>
                <form action="/users/{{this.id}}/delete" method="POST" style="display:inline;">
                    <input class="link-button" type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
<html>