<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <nav><a href="/">Login</a> | <a href="/users">Users</a> | <a href="/register">Add user</a></nav>
    <h1>Registration</h1>

    <form method="POST" action="/users">
        <label>Name</label><br>
        <input name="name" type="text" class="field" /><br><br>
        <label>Age</label><br>
        <input name="age" type="text" class="field" /><br><br>
        <label>Email</label><br>
        <input name="email" type="text" class="field" /><br><br>
        <label>Password</label><br>
        <input name="password" type="password" class="field" /><br><br>
        <input type="submit" value="Send" />
    </form>
</body>
<html>