body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.link-button {
  border: 1px solid rgb(159, 175, 201);
  border-radius: 5px;
  display: inline-block;
  padding: 5px 15px; 
  text-decoration: none; 
  color: #000;
}

.link-button:hover {
  background: linear-gradient(to bottom, #a1e5f1, #42d6f0);
  color: rgb(252, 249, 246);
 }

.field {
  width: 180px;
}
